<header class="p-header l-header">
  <div class="p-header__inner">
    <p>header.ejs</p>
    <p>title: <%- title %></p>
    <nav class="p-header__nav">
      <ul class="p-header__nav-list">
        <li class="p-header__nav-item">
          <a href="/" class="p-header__nav-link">top</a>
        </li>
        <li class="p-header__nav-item">
          <a href="/about/" class="p-header__nav-link">about</a>
        </li>
        <li class="p-header__nav-item">
          <a href="/company/" class="p-header__nav-link">company</a>
        </li>
      </ul>
    </nav>
  </div>
</header>