<!DOCTYPE html>
<html lang="ja">
<%- include('../components/_head', { title: title }) %>

<body>
  <%- include('../components/_header', { title: title }) %>
  <main>
    <%- include('./main/_' + content) %>
  </main>

  <%- include('../components/_footer') %>
</body>

</html>