<!DOCTYPE html>
<html lang="ja">
<%- include('../components/_head') %>

<body>
  <%- include('../components/_header') %>
  <main>
    <%- include('./main/_' + content) %>
  </main>

  <%- include('../components/_footer') %>
</body>

</html>